TEMP<form name="settings-data", method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">X Limit Value</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="limit-с" value="{{ setting.с }}" >
  </div>
    <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
</form>