{% extends 'ganesa/pages/index.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'ganesa/js/DataTables/datatables.min.css' %}"/>

    <script type="text/javascript" src="{% static 'ganesa/js/DataTables/datatables.min.js' %}"></script>
    <div class="row" style="margin-top: 15px">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 55px"></span>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ device_total_logs_count }}</div>
                            <div>Total logs count</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" style="font-size: 55px"></span>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ inc_logs_count }}</div>
                            <div>Increase logs count</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true" style="font-size: 55px"></span>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ dec_logs_count }}</div>
                            <div>Decrease logs count</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true" style="font-size: 55px"></span>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ eq_logs_count }}</div>
                            <div>Equal logs count</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-expand" aria-hidden="true" style="font-size: 55px"></span>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Captured logs count</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-unchecked" aria-hidden="true" style="font-size: 55px"></span>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Released logs count</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="example" class="table">
        <thead>
        <tr class="headers">
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Sensor</th>
            <th scope="col">Type</th>
            <th scope="col">Comment</th>
            <th scope="col">Actions</th>
        </tr>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Sensor</th>
            <th scope="col">Type</th>
            <th scope="col">Comment</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for log in device_logs %}
            <tr class="{% if log.action == 'captured' %} bg-danger {% else %} bg-success {% endif %}">
                <th scope="row">{{ log.id }}</th>
                <td>{{ log.created_at }}</td>
                <td>{{ log.sensor.name }}</td>
                <td>{{ log.log_type }}</td>
                <td>{{ log.comment }}</td>
                <td><a href="/log_view/{{ log.id }}">View</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>

        var table = $('#example').DataTable(
            {
                paging: false,
                search: false
            }
        );

        $("#example thead .headers th").each(function (i) {
            var select = $('<select><option value=""></option></select>')
                .appendTo($(this).empty())
                .on('change', function () {
                    table.column(i)
                        .search($(this).val())
                        .draw();
                });

            table.column(i).data().unique().sort().each(function (d, j) {
                select.append('<option value="' + d + '">' + d + '</option>')
            });
        });
    </script>
{% endblock %}