{% extends 'ganesa/pages/index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">

        <div class="col-lg-8 col-md-8 col-sm-12 desc">
            <div class="row header">
                <div class="col-lg-6">Log Record</div>
                <div class="col-lg-6" style="text-align: right">{{ log.created_at }}</div>
            </div>
            <hr>
            <div class="log-body">
                <div class="row body-row">
                    <div class="col-lg-4">Device Name</div>
                    <div class="col-lg-8" style="text-align: right"><a
                            href="/device/{{ log.device.device_id }}"> {{ log.device.name }} </a></div>
                </div>
                <div class="row body-row">
                    <div class="col-lg-4">Device Id</div>
                    <div class="col-lg-8" style="text-align: right"><a
                            href="/device/{{ log.device.device_id }}">
                        {{ log.device.device_id }}</a></div>
                </div>
                <div class="row body-row">
                    <div class="col-lg-4">Sensor</div>
                    <div class="col-lg-8" style="text-align: right">
                        <a
                            href="/device_sensor_settings/device_id/{{ log.device.device_id }}/sensor_id/{{ log.sensor.id }}">
                            {{ log.sensor.name }} </a></div>
                </div>
                <div class="row body-row">
                    <div class="col-lg-4">Type</div>
                    <div class="col-lg-8" style="text-align: right">{{ log.log_type }}</div>
                </div>
                <div class="row body-row">
                    <div class="col-lg-4">Action</div>
                    <div class="col-lg-8" style="text-align: right">{{ log.action }}</div>
                </div>
                <div class="row body-row bg-info comment-row">
                    <div class="col-lg-12">
                        <div class="comment-header">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comment:
                        </div>
                        <div class="comment-content">
                            {{ log.comment }}
                        </div>
                    </div>
                </div>

                <div class="row body-row bg-success comment-row">
                    <div class="col-lg-12">
                        <div class="comment-header">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Values:
                        </div>
                        <div class="comment-content">
                            {{ log.values }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 log-info bg-primary" style="padding-top: 25px; height: 650px">
            <div style=" position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"
                      style="font-size: 55px; width: 100%"></span>
            </div>
        </div>
    </div>
    <style>
        .header {
            padding-top: 25px;
            font-size: 30px;
        }

        .log-body {
            padding-top: 25px;
            font-size: 25px;
        }

        .body-row {
            margin-top: 10px;
            border-bottom: 1px solid lightgray;
        }

        .comment-header {
            font-size: 15px;
            font-weight: bold;
        }

        .comment-row {
            padding: 5px;
            border-radius: 5px;
            margin: 5px;
            margin-top: 25px;
        }

    </style>
{% endblock %}
